p {
  font-size: 1rem;
  margin: 0 0 21px;
  // overflow-x: hidden;
  text-overflow: ellipsis;

  &:empty {
    margin-bottom: 0;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.5rem;
  }

  & + img {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  > img {
    margin: 21px 0;
    display: block;
  }
}
