.grid-bg {
  display: none;

  @media(min-width: $screen-md-min) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    // width: calc(100% + 28px);
    height: 100%;
    margin: 0;
  }

  > div {
    border-right: 1px solid $grid-border-bg;
    height: 100%;

    &:last-child {
      border-right: 0;
    }
  }
}
