blockquote {
  padding: 0;
  margin: 0;
  line-height: 1.61;

  margin-bottom: 30px;

  max-width: 520px;

  p {
    font-size: 1.25rem; // 20 / 16
    font-weight: bold;

    @media (min-width: $screen-sm-min) {
      font-size: 1.875rem; // 30 / 16
    }
  }

}
