/* @@@@@@@@@@@@@  Banner Section Start Here  @@@@@@@@@@@@@@ */
.banner-section {
    background: linear-gradient(to top, #d1d1f2, #dddcf5, #e9e8f8, #f4f3fc, #ffffff);
    @extend %rel;
    @extend %hidden;
    padding: 100px 0;
    @include breakpoint(lg) {
        padding: 170px 0 90px;
    }
    .banner-area {
        .content-part {
            .section-header {
                h2, h3 {
                    color: $title-color;
                    text-transform: uppercase;
                }
                h3 {
                    @include breakpoint(max-sm) {
                        font-size: 20px;
                    }
                }
                h2 {
                    margin-bottom: 0;
                    @include breakpoint(max-sm) {
                        font-size: 28px;
                    }
                    @include breakpoint(lg) {
                        font-size: $fs-h1;
                        line-height: $lh-h1;
                    }
                    &.count-people {
                        color: $theme-color;
                    }
                    &.banner-title-2 {
                        @include breakpoint(sm) {
                            font-size: 48px;
                        }
                    }
                }
                .button-group {
                    @extend %flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
                    .lab-btn {
                        margin-bottom: 30px;
                        padding: 16px 35px;
                        @include breakpoint(sm) {
                            margin-right: 15px;
                            margin-bottom: 0;
                        }
                        &.style-2 {
                            span {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
        .section-wrapper {
            @include breakpoint(max-lg) {}
            .banner-thumb {
                text-align: center;
                img {
                    @include breakpoint(xl) {
                        max-width: none;
                    }
                }
            }
        }
    }
    &.home-2 {
        background: url(../../assets/images/banner/home-2/01.jpg) #06264d;
        background-position: top right;
        background-repeat: no-repeat;
        @include breakpoint(lg) {
            padding: 250px 0 150px;
        }
        .banner-area {
            .content-part {
                .banner-content {
                    h2, p, .sub-title {
                        color: $white-color;
                    }
                    .sub-title {
                        font-size: 18px;
                        font-weight: 300;
                        display: block;
                        margin-bottom: 10px;
                        @include breakpoint(sm) {
                            font-size: 24px;
                        }
                    }
                    p {
                        margin-top: 15px;
                        @include breakpoint(lg) {
                            font-size: 18px;
                        }
                    }
                    .button-group {
                        @extend %flex;
                        align-items: center;
                        margin-top: 40px;
                        .lab-btn {
                            margin-bottom: 30px;
                            padding: 16px 45px;
                            @include breakpoint(sm) {
                                margin-right: 15px;
                                margin-bottom: 0;
                            }
                            &:hover {
                                background: $white-color;
                                span {
                                    color: $theme-color;
                                }
                            }
                            &.style-2 {
                                span {
                                    color: $white-color;
                                }
                                &:hover {
                                    background: $theme-color;
                                    border-color: $theme-color;
                                    span {
                                        color: $white-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.home-3 {
        background: url(../../assets/images/banner/home-3/01.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        @include breakpoint(lg) {
            padding: 200px 0 100px;
        }
        .banner-area {
            .content-part {
                .banner-content {
                    h2, h4 {
                        color: $white-color;
                        line-height: 1.3;
                    }
                    h4 {
                        font-weight: 500;
                    }
                    h2 {
                        @include breakpoint(lg) {
                            font-size: 60px;
                        }
                        &.count-people {
                            color: #00ff99;
                            @include breakpoint(xl) {
                                font-size: 80px;
                            }
                        }
                    }
                    ul {
                        @include breakpoint(sm) {
                            max-width: 275px;
                        }
                        li {
                            color: $white-color;
                            padding: 8px 0 8px 20px;
                            font-size: 18px;
                            @extend %rel;
                            &:nth-child(2) {
                                &::after {
                                    background: #4fe04e;
                                }
                            }
                            &:nth-child(3) {
                                &::after {
                                    background: #ff5f5e;
                                }
                            }
                            &::after {
                                @extend %abs;
                                @include border-radius(100%);
                                @include transform(translateY(-50%));
                                top: 50%;
                                left: 0;
                                width: 10px;
                                height: 10px;
                                background: #ff9c00;
                            }
                            span.count-people {
                                float: right;
                            }
                        }
                    }
                    .lab-btn {
                        margin-top: 20px;
                        &:hover {
                            box-shadow: 0 5px 10px rgba(255, 255, 255, .2);
                        }
                        span {
                            color: $white-color;
                        }
                    }
                }
            }
            .banner-round {
                animation: lab_round 20s linear infinite;
            }
        }
    }
    &.home-4 {
        background: url(../../assets/images/banner/home-4/01.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        @include breakpoint(lg) {
            padding: 200px 0 100px;
        }
        .banner-area {
            .content-part {
                .banner-content {
                    h2, p {
                        color: $white-color;

                    }
                    h2 {
                        font-weight: 300;
                        margin-bottom: 15px;
                        line-height: 1.2;
                        font-style: italic;
                        @include breakpoint(lg) {
                            font-size: 60px;
                        }
                        @include breakpoint(xxl) {
                            font-size: 80px;
                        }
                        span {
                            font-weight: 900;
                        }
                    }
                    .lab-btn {
                        margin-top: 20px;
                        &:hover {
                            box-shadow: 0 5px 10px rgba(255, 255, 255, .2);
                        }
                        span {
                            color: $white-color;
                        }
                    }
                }
            }
            .banner-round {
                animation: lab_round 20s linear infinite;
            }
        }
    }
    &.home-5 {
        padding: 200px 0 0;
        .banner-area {
            .content-part {
                .banner-content {
                    h2 {
                        color: $white-color;
                        text-transform: uppercase;
                    }
                    h2 {
                        font-weight: 300;
                        margin-bottom: 15px;
                        line-height: 1.2;
                        font-style: italic;
                        @include breakpoint(lg) {
                            font-size: 60px;
                        }
                        @include breakpoint(xxl) {
                            font-size: 80px;
                        }
                        &.no-italic {
                            font-style: normal;
                        }
                        span {
                            font-weight: 900;
                        }
                    }
                }
            }
            .banner-round {
                animation: lab_round 20s linear infinite;
            }
        }
    }
    &.home-6 {
        .banner-area {
            .content-part {
                .banner-content {
                    h2, p {
                        color: $white-color;
    
                    }
                    h2 {
                        font-weight: 300;
                        margin-bottom: 15px;
                        line-height: 1.2;
                        font-style: italic;
                        text-transform: uppercase;
                        @include breakpoint(lg) {
                            font-size: 60px;
                        }
                        @include breakpoint(xxl) {
                            font-size: 80px;
                        }
                        span {
                            font-weight: 900;
                        }
                    }
                    p {
                        @include breakpoint(xl) {
                            max-width: 600px;
                        }
                    }
                    .lab-btn {
                        margin-top: 20px;
                        &:hover {
                            box-shadow: 0 5px 10px rgba(255, 255, 255, .2);
                        }
                        span {
                            color: $white-color;
                        }
                    }
                }
            }
            .corona-count-option {
                margin-top: 30px;
                .last-update {
                    color: $white-color;
                }
                .bfr-contents {
                    @extend %flex;
                    .bfr-item {
                        margin-right: 30px;
                        margin-bottom: 30px;
                        .bfr-inner {
                            .bfr-content {
                                p {
                                    color: $white-color;
                                    margin-bottom: 5px;
                                    &.bfr-name {}
                                    &.bfr-total {
                                        font-size: 18px;
                                        font-weight: 700;
                                        font-style: italic;
                                        @include breakpoint(sm) {
                                            font-size: 30px;
                                        }
                                    }
                                    &.bfr-new {
                                        color: #fffc00;
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.home-7 {
        background: url(../../assets/images/banner/home-7/01.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        padding: 90px 0 0;
        @include breakpoint(lg) {
            padding: 30px 0 0;
        }
        .banner-area {
            .content-part {
                .banner-content {
                    h2, h4, p {
                        color: $white-color;
                    }
                    h2 {
                        margin-bottom: 0px;
                        line-height: 1.2;
                        text-transform: uppercase;
                        font-size: 36px;
                        @include breakpoint(lg) {
                            font-size: 60px;
                        }
                        @include breakpoint(xxl) {
                            font-size: 74px;
                        }
                        span {
                            font-weight: 300;
                            text-transform: capitalize;
                            @include breakpoint(lg) {
                                font-size: 36px;
                            }
                            @include breakpoint(lg) {
                                font-size: 48px;
                            }
                        }
                    }
                    h4 {
                        margin-top: 15px;
                        @include breakpoint(sm) {
                            font-size: 28px;
                        }
                    }
                    .lab-btn {
                        margin-top: 20px;
                        @include border-radius(3px);
                        &:hover {
                            box-shadow: 0 5px 10px rgba(255, 255, 255, .2);
                        }
                        span {
                            color: $white-color;
                        }
                    }
                }
            }
            .banner-round {}
        }
    }
}